@model ShoppingoO.Models.Page

@{
    ViewData["Title"] = "Create a Page";
}

<h1>Create a Page</h1>


<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
               <textarea asp-for="Content" class="form-control"  ></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script  >
        CKEDITOR.replace("Content");

    </script>
}
